<header class="mb-5 text-light">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <h1 class="text-light navbar">View Dee👍</h1>
      <h2><%= Title %></h2>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="/menu/table-show"
              >Manage Table</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="/queue/queue-mng"
              >Manage Queue</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="/kitchen"
              >Kitchen</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/store">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin/add-item">Add Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/menu/add-menu">Add Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/menu/menu-show">Edit Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/employee/add-employees"
              >Add Employee</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/total">Total Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/reports/">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
