<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- ty template -->
    <link
      rel="stylesheet"
      href="https://getbootstrap.com/docs/4.3/getting-started/introduction/"
    />

    <title><%=Title %></title>
  </head>
  <body onload="window.open('', '_self', '');">
    <div class="jumbotron text-center">
      <h1 class="display-3">Thank You ЁЯШД</h1>
      <p class="lead">
        р╕Вр╕нр╕Вр╕нр╕Ър╕Юр╕гр╕░р╕Др╕╕р╕Ур╕кр╕│р╕лр╕гр╕▒р╕Ър╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Лр╕╖р╣Йр╕н р╣Ар╕гр╕▓р╣Др╕Фр╣Йр╕гр╕▒р╕Ър╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Лр╕╖р╣Йр╕нр╣Ар╕гр╕╡р╕вр╕Ър╕гр╣Йр╕нр╕вр╣Бр╕ер╣Йр╕з
        р╣Вр╕Ыр╕гр╕Фр╕гр╕нр╕нр╕▓р╕лр╕▓р╕гр╕кр╕▒р╕Бр╕Др╕гр╕╣р╣Ир╕Щр╕░р╕Др╕░ЁЯТЦ
      </p>
      <hr />
      <p>р╕лр╕▓р╕Бр╕Юр╕Ър╕Ыр╕▒р╕Нр╕лр╕▓р╕Бр╕гр╕╕р╕Ур╕▓р╣Ар╕гр╕╡р╕вр╕Бр╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щ</p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="http://127.0.0.1:3000/"
          >Continue to hompage</a
        >
      </p>
    </div>
  </body>
</html>
